target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/fileTemplates/
*.iws
*.iml
*.ipr

### Conveyor ###
.output/*

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Conveyor ###
/output/

### Etc ###
/Todo.md
!/logs/
*.log
/.idea/encodings.xml
/src/main/resources/META-INF/MANIFEST.MF
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/out/artifacts/Space_Engineers_Mod_Manager_jar/Space-Engineers-Mod-Manager.jar
/.idea/jpa-buddy.xml
/Documents/
/.idea/artifacts/SEMM_0_9_jar.xml
/out/
!/icons/!/Mockups/
/Mockups/UI Mockup.afphoto
/Mockups/UI Mockup.psd
/Storage/SEMM_Data.xml
/Storage/UserConfigTest.xml
/Storage/SEMM_Data.OLD
/.idea/codeStyles/codeStyleConfig.xml
/Storage/SEMM_DataOLD
/Storage/fake.sbc
/Storage/SEMM_TEST_Data.xml
/.idea/
/Storage/SEMM_Data.BACKUP
/scenicView.properties
/dependency-reduced-pom.xml
/.gradle/
